@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.pulse {
    animation: pulse 1s infinite;
}

.highlight-row {
    background-color: #d4edda !important; /* Jasnozielone tło */
    border-left: 4px solid green;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link.active {
    color: #000 !important;
}