.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
    gap: 15px; /* Space between cards */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* System font */
}

.info-card {
    background-color: #1e1e1e;
    color: #e0e0e0;
    border-radius: 8px;
    padding: 15px 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.metric-item {
    padding-top: 6px;
    padding-right: 6px;
    border-bottom: solid 1px #fff;
}

.card-title {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}

.metric-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-bottom: 10px;
}

/* --- Text & Layout Helpers --- */
.label-hour {
    font-size: 0.9rem;
    color: #a0a0a0; /* Lighter grey for labels */
    margin-top: 5px;
}

.axis-mark {
    height: 5px;
    width: 2px;
    background-color: rgb(170, 170, 170);
    margin: 2px auto 0px;
}

.large-text {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffffff;
}

.small-text {
    font-size: 1rem;
    color: #c1c1c1;
}

.data-section {
    display: flex;
    flex-direction: column;
}

.tab-content {
    padding-top: 10px !important;
}